body {
  font-family: 'Open Sans', sans-serif !important;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.reset {
  padding: 0;
  margin: 0;
}
.btn__general {
  color: #222;
  border: 2px solid #222;
  padding: 5px 25px;
  transition: all 0.5s;
  display: inline-block;
}
.btn__general:hover {
  color: #fff;
  background-color: #222;
  transition: all 0.5s;
}
.btn__general--white {
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 25px;
  transition: all 0.5s;
  display: inline-block;
}
.btn__general--white:hover {
  color: #222;
  background-color: #fff;
  transition: all 0.5s;
}
.btn__link {
  text-decoration: underline;
}
.btn__link--white {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
}
.btn__link--white:hover {
  color: #fff;
  text-decoration: underline;
}
.title--bold {
  font-weight: 600;
}
.margin__top--10 {
  margin-top: 10px;
}
.margin__top--20 {
  margin-top: 20px;
}
.margin__top--30 {
  margin-top: 30px;
}
.color--white {
  color: #fff;
}
.bg {
  bacground-position: center;
  background-size: cover;
}
.bg--white {
  background-color: #fff;
}
.bg--black {
  background-color: #000;
}
.bg--grayDark {
  background-color: #222;
}
.bg--decide {
  background-image: url("../../images/promo1.jpg");
}
.bg--sostenible {
  background-image: url("../../images/promo2.jpg");
}
.logo {
  width: 180px;
}
.sub-menu {
  padding: 10px 0;
  background-color: $rgbaWhite;
}
.sub-menu__nav {
  padding: 0;
}
.sub-menu__item {
  display: inline-block;
}
.sub-menu__item a {
  color: #000;
}
.main-info__article {
  padding: 20px 30px 40px 30px;
}
.slogan__promo {
  padding: 70px 80px;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
}
.promo__content {
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  border: 1px solid #fff;
  min-height: 250px;
}
.grid__content {
  min-height: 300px;
}
.owl-controls {
  position: absolute;
  bottom: 10px;
  left: 47%;
}
