body {
  font-family: 'Open Sans', sans-serif !important;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.reset {
  padding: 0;
  margin: 0;
}
.btn__general {
  color: #222;
  border: 2px solid #222;
  padding: 5px 25px;
  transition: all 0.5s;
  display: inline-block;
}
.btn__general:hover {
  color: #fff;
  background-color: #222;
  transition: all 0.5s;
}
.btn__general--white {
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 25px;
  transition: all 0.5s;
  display: inline-block;
}
.btn__general--white:hover {
  color: #222;
  background-color: #fff;
  transition: all 0.5s;
}
.btn__link {
  text-decoration: underline;
}
.btn__link--white {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
}
.btn__link--white:hover {
  color: #fff;
  text-decoration: underline;
}
.title--minismall {
  font-size: 0.9em;
}
.title--small {
  font-size: 1.5em;
}
.title--medium {
  font-size: 2em;
}
.title--big {
  font-size: 3em;
}
.title--sinbold {
  font-weight: 300;
}
.title--bold {
  font-weight: 600;
}
.title--white {
  color: #fff;
}
.title--grayDark {
  color: $grayDark;
}
.padding--tb {
  padding: 30px 0;
}
.padding--all {
  padding: 30px;
}
.margin__top--10 {
  margin-top: 10px;
}
.margin__top--20 {
  margin-top: 20px;
}
.margin__top--30 {
  margin-top: 30px;
}
.color--white {
  color: #fff;
}
.bg {
  bacground-position: center;
  background-size: cover;
}
.bg--white {
  background-color: #fff;
}
.bg--black {
  background-color: #000;
}
.bg--grayDark {
  background-color: #222;
}
.bg--decide {
  background-image: url("../../images/promo1.jpg");
}
.bg--sostenible {
  background-image: url("../../images/promo2.jpg");
}
.logo {
  width: 180px;
}
.sub-menu {
  padding: 10px 0;
  background-color: rgba(255,255,255,0.8);
  font-weight: 300;
}
.sub-menu__nav {
  padding: 0;
}
.sub-menu__item {
  padding: 3px 15px;
  display: inline-block;
}
.sub-menu__item a {
  color: #000;
}
.sub-menu__item a:hover {
  text-decoration: underline;
}
.sub-menu__item--contact {
  border-radius: 5px;
  background-color: #2663b5;
  background-image: -webkit-linear-gradient(top, #2663b5 50%, #115baf 40%);
  background-image: -moz-linear-gradient(top, #2663b5 50%, #115baf 40%);
  background-image: -ms-linear-gradient(top, #2663b5 50%, #115baf 40%);
  background-image: -o-linear-gradient(top, #2663b5 50%, #115baf 40%);
  background-image: linear-gradient(top, #2663b5 50%, #115baf 40%);
}
.sub-menu__item--contact a {
  color: #fff;
}
.sub-menu__item--contact a:hover {
  text-decoration: none;
}
.slide {
  position: relative;
}
.slide .info-slide {
  position: absolute;
  left: 22vw;
  top: 25vh;
}
.main-info__article {
  padding: 20px 30px 40px 30px;
}
.group-btn {
  font-size: 1.5em;
  margin: 40px 0 10px 0;
}
.slogan__promo {
  padding: 70px 80px;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
}
.promo__content {
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  background-image: linear-gradient(top, #fafafa 40%, #f2f2f2 100%);
  border: 1px solid #fff;
  min-height: 250px;
}
.grid__content {
  min-height: 300px;
}
.owl-controls {
  position: absolute;
  bottom: 10px;
  left: 47%;
}
