@import "variables.styl"

// MIXINS

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// GENERAL STYLES

body
	font-family 'Open Sans', sans-serif !important

img
	width 100%

ul
	padding 0
	margin 0
	li
		list-style none

a
	&:hover
		text-decoration none

// GENERAL CLASS

.reset
	padding 0
	margin 0
.btn
	&__general
		color $colorGrayDark
		border 2px solid $colorGrayDark
		padding 5px 25px
		transition all .5s
		&:hover
			color $colorWhite
			background-color $colorGrayDark
			transition all .5s
		&--white
			color $colorWhite
			border 2px solid $colorWhite
			padding 5px 25px
			transition all .5s
			&:hover
				color $colorGrayDark
				background-color $colorWhite
				transition all .5s
.color
	&--white
		color $colorWhite
.bg
	bacground-position center
	background-size cover
	&--white
		background-color $colorWhite
	&--black
		background-color $colorBlack
	&--grayDark
		background-color $colorGrayDark
	&--decide
		background-image url('../../images/promo1.jpg')
	&--sostenible
		background-image url('../../images/promo2.jpg')
		
	
// PERSONALIZED CLASS

.logo
	width 180px

.sub-menu
	padding 10px 0
	background-color $rgbaWhite
	&__nav
		padding 0
	&__item
		display inline-block
		a
			color $colorBlack

.slogan
	&__promo
		padding 30px 80px
		color $colorWhite
		font-size 2em
		font-weight 300

.promo
	&__content
		background-linear-gradient(top, #FAFAFA, 40%, #F2F2F2, 100%)
		border 1px solid $colorWhite
		min-height 250px

.grid
	&__content
		min-height 300px

// RESET CLASS

.owl-controls		
	position: absolute;
	bottom: 10px;
	left: 47%;
	
		