@import "variables.styl"

// MIXINS

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// GENERAL STYLES

body
	font-family 'Open Sans', sans-serif !important

img
	width 100%

ul
	padding 0
	margin 0
	li
		list-style none

a
	&:hover
		text-decoration none

@media (max-width: 600px)
	h1
		font-size 1.3em

// GENERAL CLASS

.reset
	padding 0
	margin 0
.btn
	&__general
		color $colorGrayDark
		border 2px solid $colorGrayDark
		padding 5px 25px
		transition all .5s
		display inline-block
		&:hover
			color $colorWhite
			background-color $colorGrayDark
			transition all .5s
		&--white
			color $colorWhite
			border 2px solid $colorWhite
			padding 5px 25px
			transition all .5s
			display inline-block
			&:hover
				color $colorGrayDark
				background-color $colorWhite
				transition all .5s
	&__link
		text-decoration underline
		&--white
			color $colorWhite
			font-weight 400
			text-decoration underline
			&:hover
				color $colorWhite
				text-decoration underline
.title
	&--minismall
		font-size .9em
	&--small
		font-size 1.5em
	&--medium
		font-size 2em
	&--big
		font-size 3em
	&--sinbold
		font-weight 300
	&--bold
		font-weight 600
	&--white
		color $colorWhite
	&--grayDark
		color $grayDark
@media (max-width: 600px)
	.title
		&--minismall
		font-size .7em
		&--small
			font-size 1em
		&--medium
			font-size 1.5em
		&--big
			font-size 1.8em
.padding
	&--tb
		padding 30px 0
	&--all
		padding 30px
.margin
	&__top
		&--10
			margin-top 10px
		&--20
			margin-top 20px
		&--30
			margin-top 30px
.color
	&--white
		color $colorWhite
.bg
	bacground-position center
	background-size cover
	&--white
		background-color $colorWhite
	&--black
		background-color $colorBlack
	&--grayDark
		background-color $colorGrayDark
	&--decide
		background-image url('../../images/promo1.jpg')
	&--sostenible
		background-image url('../../images/promo2.jpg')
		
	
// PERSONALIZED CLASS

.logo
	width 180px

.sub-menu
	padding 10px 0
	background-color $rgbaWhite
	font-weight 300
	&__nav
		padding 0
	&__item
		padding 3px 15px
		display inline-block
		a
			color $colorBlack
			&:hover
				text-decoration underline
		&--contact
			border-radius 5px
			background-linear-gradient(top, #2663b5, 50%, #115baf, 40%)
			a
				color $colorWhite
				&:hover
					text-decoration none
@media (max-width: 600px)
	.sub-menu
		display none
		
.slide
	position relative
	.info-slide
		position absolute
		left 22vw
		top 25vh
.offert
	padding 100px 0

.text
	&--borderW
		border-bottom 1px solid $colorWhite
		padding-bottom 15px
	&--borderG
		border-bottom 1px solid $colorGrayDark
		padding-bottom 15px

.main-info
	&__article
		padding 20px 30px 40px 30px
		&--padding-60
			padding 60px 0
	&__parrafo
		padding 20px 100px
@media (max-width: 600px)
	.main-info
		&__article
			padding 20px 30px 40px 30px
			&--padding-60
				padding 30px 0
		&__parrafo
			padding 5px 10px

.group-btn
	font-size 1.5em
	margin 40px 0 10px 0

.slogan
	&__promo
		padding 70px 80px
		color $colorWhite
		font-size 2em
		font-weight 300
@media (max-width: 600px)
	.slogan
		&__promo
			padding 20px 5px
			color $colorWhite
			font-size 1em
			font-weight 300

.promo
	&__content
		background-linear-gradient(top, #FAFAFA, 40%, #F2F2F2, 100%)
		border 1px solid $colorWhite
		min-height 250px

.grid
	&__content
		min-height 300px

// RESET CLASS

.owl-controls		
	position: absolute;
	bottom: 10px;
	left: 47%;
	
		