@import "variables.styl"

// MIXINS

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// GENERAL STYLES

body
	font-family 'Open Sans', sans-serif !important

img
	width 100%

ul
	padding 0
	margin 0
	li
		list-style none

// GENERAL CLASS

.reset
	padding 0
	margin 0
.color
	&--white
		color $colorWhite
.bg
	&--white
		background-color $colorWhite
	&--black
		background-color $colorBlack
	&--grayDark
		background-color $colorGrayDark
		
	
// PERSONALIZED CLASS

.logo
	width 180px

.sub-menu
	padding 10px 0
	background-color $rgbaWhite
	&__nav
		padding 0
	&__item
		display inline-block
		a
			color $colorBlack

.promo
	&__content
		background-linear-gradient(top, #FAFAFA, 40%, #F2F2F2, 100%)
		border 1px solid $colorWhite
		min-height 250px

.grid
	&__content
		min-height 300px

// RESET CLASS

.owl-controls		
	position: absolute;
	bottom: 10px;
	left: 47%;
	
		