// GENERAL COLORS

$colorWhite = #fff
$colorBlack = #000

$colorGrayLight = #f2f2f2
$colorGrayDark = #222

// COLORS BLUES

$colorBlueLight = #2663B5
$colorBlue = #0053AD

// RBA COLORS

$rgbaWhite = rgba(255,255,255,.8)
$rgbaBlack = rgba(0,0,0,.5)